html, body {
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#main {
  background-color: tomato;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  font-family: 'Jua', sans-serif;
}

#contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
  text-align: center;
}

#contents h1 {
  font-family: 'Jua', sans-serif;
  font-size: 70px;
  margin-bottom: 16px;
  text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}

#contents p {
  display: inline-block;
  font-size: 50px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 0.5s;

}

#contents p:hover{
  background-color: white;
  color: tomato;
  border-color: tomato;
}
