* {
  font-family: 'Noto Sans KR', sans-serif;
  color: rgb(51, 51, 51);
}

body {
  margin: 0;
}

#second {
  background-size: cover;
  background-position: center, center;
  width: 100vw;
  height: 100vh;
}

#character h1 {
  margin: 10vh 5vw;
  text-align: center;
  font-size: 1.8rem;
}

img {
  display: block;
  margin: 0 auto 10vh auto;
  width: 60%;
  height: auto;
}

#nextbutton a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 50px;
  margin: 0 5vw;
  padding: 5%;
}

 #nextbutton a:hover {
   background: tomato;
   color: white;
 }

.meter {
  display: block;
  height: 1rem;
  margin: 5vh 5vw 10vh 5vw;
  background-color: rgb(224, 224, 224);
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: tomato;
}
